
@font-face {
  font-family: 'din-la';
  src: url('font/DIN-LA.eot'); /* IE9 Compat Modes */
  src: url('font/DIN-LA.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/DIN-LA.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/DIN-LA.woff') format('woff'), /* Pretty Modern Browsers */
       url('font/DIN-LA.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('font/DIN-LA.svg#svgFontName') format('svg'); /* Legacy iOS */
}
* {
	background: transparent;
}
body.site
    {
      border: 0px !important;
      background-image:url(../images/wood-bg.jpg);
      background-attachment:fixed;
    }

header.header {
    width: 100% !important;
    /*background: #F4F1EF;*/
    background-color:rgba(255,255,255,0.22);
    
    
    padding: 1vmax;
    border: none;
            position: fixed;
    top: 0;
    z-index: 10;
    transition: .9s;
    padding-bottom: 0;
}

body {
    margin: 0;
    font-family: "din-la";
    overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6 {

    font-family: "din-la";
}

a, a:active {
    text-decoration: none;
    /* color: #231F20 !important; */
    background: transparent !important;
}

.header-inner {
    display: inline-block;
}

ul.nav.menu li {
    display: inline-block;
    margin: 0 1vmax;
    width: auto;
    /* float: right; */
    /* color: white; */
}

.brand img {

  max-width:200px;
}

.header-search {
    display: none;
}

.search label {
    display: none;
}

.custom_parallax img {
    
    margin-top: -1em;
    position: relative;
    z-index: 0;
}

.custom_parallax p {
    margin: 0;
}

.container {
    border: none !important;
    width: 100%;
    padding: 0;
}

.cart-icon img, .account-icon img {
    width: 10%;
    opacity: .6;
}

.cart-icon .image-title, .account-icon .image-title {
    display: none;
}

ul.nav.menu.nav-pills {
    margin: 0;
}

center, div[align="center"] {
    display: none !important;
}

a.cart-icon, .account-icon {
    display: inline-block;
    width: 100px;
    margin-top: -1.5em;
    position: fixed;
    right: 0;
}

a.cart-icon img, .account-icon img {
    /* height: 5vh; */
    width: 40%;
    margin-bottom: -1em;
}

.cart-icon {
  margin-left:10vw;
}

.account-icon {

  margin-left: -5vw;
}

ul.breadcrumb {
    border-top: solid thin #4C4C4C;
    border-bottom: solid thin #4C4C4C;
    /* border-radius: 0; */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.48), 0 -5px 10px rgba(0, 0, 0, 0.35);
    position: relative;
}

.custom_parallax {
        height: 150vh;
    width: 100%;

/*background:white;*/

position: relative;
}

.pllx-l1, .pllx-l2, .pllx-l3, .pllx-l4, .pllx-l5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;

}

.pllx-l1 {
	z-index:5;
	/*background-image: url(../images/layer1.png);*/
}
.pllx-l2 {
	z-index:6;
	/*background-image: url(../images/layer3.png);*/
}
.pllx-l3 img{
	z-index:7;
	/*background-image: url(../images/coffee.png);*/
	width: 70vmin;
	position:fixed;
	right:0;
	top:10%;
}
.pllx-l4 {
	z-index:8;
	/*background-image: url(../images/layer4.png);*/
}

.pllx-l5 {
	z-index:9;
	}

.pllx-l5 img {
	width:70%;
	top:50vh;
}

.categories-list {
    border-top: solid 10px rgb(72, 72, 72);
}

.menu li a {
    /* color: #F3F3F3 !important; */
}

a.cart-icon {
    right: 5vw;
}

.moduletablehed h3 {
    display: none;
}

.moduletablehed .customhed {
    width: 100%;
    height: 40vh;
    background-size: 60% 35%;
    background-repeat: no-repeat;
    background-position: right;
    /* margin-top: -20vh; */
    /* background-position-y: 25px !important; */
}

.moduletablehed {
    margin-top: -40vh;
}


.menu a, .menu a:active, .menu a:visited {
    color: white;
}
.item-page {
    margin: 3vmin;
    padding: 3vmin;
}



.items-leading, .items-row {
    margin: 0 auto;
    position: relative;
    width: 60%;
}
.items-leading p, .items-row p {
    display: inline-block;
    width: 50%;
}
.item-image {
    display: inline-block;
    /*overflow: hidden;*/
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.item-image img {
    width: 15vw;
}


.breadcrumb {
    /* position: fixed; */
    margin: 0;
    padding: .5em;
    padding-left: 1em;
    font-size: 9pt;
}
.breadcrumb li {
    display: inline-block;
}
.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #3E3022;
    width: 100%;
    /* padding: 1em; */
    color: white !important;
}
.menu li {
	
	padding:1em;
	padding-top: calc(1em + 5px);
	transition: .2s;
}
.menu li:hover {
    
    padding: 1em;
    border-top: solid 5px;
}

.menu .active {
    /*border-top: solid 5px #82FFF7;*/
        background: rgba(65, 207, 255, 0.37);
}

main#content {
    
    background-size:cover;
}

#login-form {
    display: block;
    overflow:hidden;
    margin: 1em;
   /* padding: 1em;*/
    width: 20vw;
    background: white;
    float: right;
    position: fixed;
    /* position: relative; */
    z-index: 100;
    bottom: 4em;
    right: 1em;
    box-shadow: 0 0 50px black, inset 0 0 50px #D8D8D8;
    /*border: solid thin white;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: height .5s;
    height:0;
}

#login-form input {
    float: right;
    /* margin: .5em; */
    clear: both;
    margin-bottom: 1em;
    margin-top: -1.5em;
    border: solid thin #A5A5A5;
    padding: .5em;
}

#login-form button {float: right;background: white;border: solid thin #B5B5B5;clear: both;}

#login-form label {
    float: left;
    clear: both;
}

.userdata .unstyled {
    float: left;
    list-style: none;
    font-size: 8pt;
}

#modlgn-remember {
    margin-top: -1.5em;
    margin-bottom: 1em;
}

.item-120 .image-title, .item-121 .image-title {
    display: none;
}

.item-120, .item-121 {
    float: right;
        margin: 0 !important;
}

ul.nav.menu.nav-pills img {
        height: 2em;
    margin-bottom: -1em;
    margin-top: -.5em;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    float: right;
}

.pllx-l5 img {
    width: 60%;
}

.footer {
    margin-bottom: 13vh;
}
div#slide3, #slide2 {
        width: 40%;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    vertical-align: top;
    margin: 1em;
    margin-top: -49vh;
    z-index: 9;
    padding: 1em;
    border-radius: 5px;
    /* border: solid thin white; */
    color: white;
}

footer.footer a, .footer a:active {
    color: white;
}
.footer {
    margin-bottom: 13vh;
    padding: 1em;
    background: rgba(255, 255, 255, 0.23);
    color: white;
}

img#seal {
    position: absolute;
    right: -5vh;
    top: -15vh;
    width: 30vh;
    -webkit-transform: rotate(20deg);
}

p.space-maker {
    float: right;
    display: block;
    width: 10vw;
    height: 5vh;
}

.custom_product_feed img {
    width: 25vmin;
    margin-top: -10vh;
}

.prod-title {
    text-align: center;
    position: relative;
    margin-top: -5vh;
    font-weight: bold;
    text-shadow: 0 0 15px black, 0 0 5px black;
    font-size: 14pt;
}
.product {
    display: inline-block;
    margin-top: -10vh;
}
.product img {
    width: 25vmin;
}
